body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: url("https://img.freepik.com/free-photo/movie-background-collage_23-2149876028.jpg")
    no-repeat center center fixed;
  background-size: cover;
  color: white;
  min-height: 100vh;
  padding: 0 20px;
}

/* Translucent section */
#list-container,
form {
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  backdrop-filter: blur(6px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

h1 {
  text-align: center;
  padding: 20px 0;
  font-size: 36px;
  color: #b23be1;
}

input[type="text"] {
  padding: 12px;
  width: 250px;
  border-radius: 6px;
  border: none;
  margin-right: 10px;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.2);
}
input[type="email"] {
  padding: 12px;
  width: 250px;
  border-radius: 6px;
  border: none;
  margin-right: 10px;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.2);
}
input[type="password"] {
  padding: 12px;
  width: 250px;
  border-radius: 6px;
  border: none;
  margin-right: 10px;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.2);
}
textarea {
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.2);
}

button {
  padding: 12px 18px;
  background-color: #09e526;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
}
button [id="logout-button"] {
  padding: 12px 18px;
  background-color: #2609e5;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  font-size: 30px;
}

button:hover {
  background-color: #0dad1d;
}

ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

li {
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  padding: 15px;
  color: white;
  transition: transform 0.3s;
  backdrop-filter: blur(4px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

li:hover {
  transform: scale(1.03);
}

li img {
  width: 100%;
  border-radius: 6px;
  margin-top: 10px;
}

li h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #ffdddd;
}

li p {
  font-size: 14px;
  margin-bottom: 5px;
}

li button {
  width: 100%;
  background-color: #ff3c3c;
  margin-top: 10px;
}
